body{
    background-color: #110e0eff;
}
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: #ff004f;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
    
}
.layer h2{
    position: relative;
    left: -30px;
}
.layer p{
    position: relative;
    left: -30px;
    width: 80%;
}

.logo_work{
    height: 50%;
    width: auto;
}
.img-container {
    position: relative;
    max-width: 300px; /* Largeur maximale du conteneur */
    height: 300px;     /* Hauteur ajustée automatiquement */
    display: block;   /* Assure que les marges ne perturbent pas la mise en page */
    margin: 0 auto;   /* Centre l'image horizontalement si elle est dans un bloc de largeur fixe */
    overflow: hidden; /* Cache le contenu excédentaire de l'image qui dépasse le conteneur */
    left: -35px;
}

  .img-container .logo_work {
    margin-top: 3%;
    margin-left: 32%;
    width: 40%; /* L'image remplit tout le conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
}

.layer h2 {
    margin-bottom: 30px;
}

.layer a {
    margin-top: 30px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s;
}

.btn:hover {
    background: #ff004f;
}