<style>
    body{
    background-color: rgb(223, 69, 69);
}




/*----------MENU----------*/
.container {
    padding: 15px;
    position: relative;
    margin-top: 0px;
}

.menu {
    background-color:#333;
    border-radius: 8px;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

nav {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
a:hover{
    color: #ff004f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1em 0;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 1.5em;
}

.freestyle-section {
    margin-top: 20px;
}

.freestyle-section h2 {
    color: #343a40;
}

.freestyle-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
}

.freestyle-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





